
.half-page{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-image {
  img {
    width: 80%;
  }
}
.login-inputs {
  margin-left: 50px;
  width: 50%;
}
.signup-input{
  &::placeholder{
    color: $color-white;
  }
}
.signup-button{
  color: white;
}
.text{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
  font-size: 18px;
  padding: 3px;
}
.row-login-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.middle-border{
  border-right: 1px solid gray;
}