.signup {
    display: flex;
    align-items: center;
    justify-content: center;

}
// .login-image{
//   width: 100%;
//   img{
//     width: 100%;  
//   }
// }
// .login-input{ 
//     width: 100%;
// }